# Build output
/dist
/dev/dist
/.wrangler

# Dependencies
/node_modules

# Environment
.env
.env*.local

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# System files
.DS_Store
Thumbs.db
